

.image-style{
    max-width: 70px;
    max-height: 70px;
    margin: 15px 0px 0px 5px;
}

.card-title{
    text-overflow: ellipsis;
}

.anchor{
    text-decoration: none;
}



.card{
    max-height: 80vh;
    display:flex;
    margin-bottom: 2rem;
    margin-top: 2rem;
}



span.ui-text{
    height:2.8rem;
    overflow: hidden;
}