.image-style{
    max-width: 70px;
    max-height: 70px;
    margin: 15px 0px 0px 5px;
}

.carousel-div{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card{
    margin-right: 2rem;
    margin-left: 2rem;
}